@import "../../../fonts.scss";

.container{
   display: flex;
   flex:1;
   flex-direction:row;
   padding-top: 13vh;
   margin-top:-13vh;
   @media (max-width:1024px) {
      flex-direction:column;
    }
   .imageDiv{
      display:flex;
      flex:1;
      align-items: center;
      justify-content: center;
      opacity:0;
      transform: translateX(-10%);
   }
   .textDiv{
      display:flex;
      flex:2;
      flex-direction: column;
      flex-wrap: wrap;
      opacity:0;
      transform: translateX(10%);
      .course{
         word-wrap: break-word;
         font-family: ArchivoBold;
         font-size: 20px;
      }
      .institution{
         word-wrap: break-word;
         font-family: ArchivoMedium;
         font-weight: 700;
         opacity: 0.8;
      }
      .score{
         word-wrap: break-word;
         font-family:ArchivoBold;  
      }
      .duration{
         word-wrap: break-word;
         font-family: ArchivoMedium
      }
   }
}
