.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  .topIconDiv{
     display:flex;
     flex-direction:column;
     align-items: center;
     justify-content: center;
     flex:1;
  }
  .bottomIconDiv{
    display:flex;
    bottom:2vh;
    position: fixed;
    &:hover{
      cursor: pointer;
    }
  }
}