.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  .topIconDiv{
     display:flex;
     flex-direction:column;
     align-items: center;
     justify-content: center;
     flex:1;
  }
  .bottomIconDiv{
    display:flex;
    bottom:2vh;
    position: fixed;
    @media (max-width:1024px){
      bottom:0;
      position:relative;
    }

    &:hover{
      cursor: pointer;
    }
  }
}

.imageIcons{
  @media (max-width:1024px){
    width:10vw;
    height:10vw;
  }
  width:12vw;
  height:12vw;
}

.person{
  color: #6c63ff;
  font-size: 10vw !important;
}

.github{
  color:#6c63ff;
  font-size: 8vw !important; 
}

.nightsStay{ 
  color: #777777;
  font-size: 8vw !important;
  opacity: 0.87;
}

.sunny{
  color: #f5f509;
  @media (max-width:1024px){
    font-size: 8vw !important; 
  }
  font-size:10vw !important;
}