@import "../../../fonts.scss";

.container {
   display:flex;
   flex-direction: row;
   flex-wrap:wrap;
   @media (max-width:768px) {
    flex-direction:column;
   }
   @media(max-width:1024px){
    margin-bottom:10vw;
   }
   padding-top: 18vh;
   margin-top:-13vh;
   & > div {
    flex: 1 1 300px;
    margin-bottom:20px;
    margin-right: 20px;
    padding:10px 10px;
    @media (max-width:768px) {
      flex:1 1;
      flex-basis:content;
      margin-right:0;
    }
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 15px;
    border: 1px solid rgba( 0, 0, 0, 0.18 );
  }
  .innerContainer{
    height:200px;
    will-change: transform;
    &:hover{
      cursor: pointer;
      @media(min-width:1024px){
        transform: scale(1.05);
        transition:transform 0.3s linear;
      }
    }
  }
   .repo{
      align-self:center;
      font-family:ArchivoBold;
   }
   .description{
      font-family:ArchivoRegular;
   }
   .row{
      display: flex;
      flex-direction: row;
      .forks {
        margin-left:2vw;
        font-family: ArchivoMedium;
        display: flex;
        align-items: center;
      }
      .stars{
        margin-right:2vw;
        font-family: ArchivoMedium;
        display: flex;
        align-items: center;
      }
   }
   .projectSVG{
     @media(max-width:1024px){
       display:flex;
       align-self: center;
       justify-self: center;
       height:20vw;
       width:20vw;
     }
     display:none
   }
 }
 