@import "../../../fonts.scss";

.row{
   display:flex;
   flex-direction: row;
   flex:1;
   height: 100vh;
   @media (max-width:1024px){
      padding-top:5vh;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
   
   align-items: center;
   .firstDiv{
      display:flex;
      flex:2;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media (max-width:1024px) {
         flex:1
      }
      .image{
         height: 20vw;
         width: 20vw;
         border-radius: 20vw;
         @media (max-width:1024px){
            height: 40vw;
            width: 40vw;
            border-radius: 40vw;
         }
      }
   }
   .secondDiv{
      .name{
         font-size:75px;
         margin-bottom:20px;
         @media (max-width:1024px){
            font-size: 13vw;
            margin-bottom:5vw;
         }
         font-family: ArchivoMedium;
         width: fit-content;
      }
      flex:3;
      @media (max-width:1024px){
         flex:1;
         display:flex;
         flex-direction:column;
         justify-content: flex-start;
         align-items: center;
      }
      .contact{
         display:flex;
         align-items:center;
         width: fit-content;
         @media(max-width:1024px){
            width:100%;
            justify-content:space-around;
         }
         a:first-child{
         margin-left:0px;
         }
         a{
            margin-left:50px;
         }
      }
   }
}