@import "../../../fonts.scss";

.container{
   display:flex;
   flex:1;
   padding-top: 13vh;
   margin-top:-13vh;
   flex-direction:row;
   @media (max-width:1024px) {
      flex-direction:column-reverse;
    }
   .imageDiv{
      display:flex;
      flex:1;
      justify-content: center;
      align-items: center;
   }
   .textDiv{
      display:flex;
      flex:2;
      font-family: ArchivoRegular;
      flex-direction: column;
      .position{
         font-family: ArchivoBold;
         font-size: 22px;
         opacity:0.87;
      }
      .organization{
         font-family: ArchivoMedium;
         font-weight:500;
         opacity:0.70;
      }
      .description{
         opacity: 1;
      }
   }
}
