.animateHorizontalDone{
   opacity:1 !important;
   transform: translateX(0%) !important;
   transition: all 0.5s linear;
}

.animateVerticalDone{
   opacity:1 !important;
   transform: translateY(0%) !important;
   transition: all 0.5s linear;
}
