@import "./fonts.scss";

html{
   scroll-margin-top: 15vh;
}

body{
   margin:0px;
}

.container{
   display:flex;
   flex:1;
   overflow-y:hidden;
   flex-direction: row;
}
.sidebar{
   display:flex;
   flex-direction: column;
   height:100vh;
   align-items: center;
   justify-content: center;
   flex:1;
   overflow-y: hidden;
}
.content{
   display:flex;
   flex-direction: column;
   height:100vh;
   flex:9;
   overflow-y:scroll;
}