@import "./fonts.scss";

body{
   margin:0;
   padding:0;
}

.outerContainer{
   height:100vh;
   overflow-y: hidden;
   overflow-x:hidden;
}

.container{
   display:flex;
   flex:1;
   height:100vh;
   flex-direction: row;
}
.sidebar{
   display:flex;
   flex-direction: column;
   height:100vh;
   align-items: center;
   justify-content: center;
   flex:1;
   overflow-y: hidden;
   @media (max-width:1024px){
      display: none;
    }
}
.content{
   display:flex;
   position: relative;
   flex-direction: column;
   height:100vh;
   flex:9;
   @media (max-width:1024px){
      flex:1;
    }
   overflow-y:scroll;
   scroll-behavior: smooth;
}